# Dataset Information

The dataset used for this challenge is taken from the München Open Data Portal
### Monatszahlen Verkehrsunfälle 
Link : https://opendata.muenchen.de/dataset/monatszahlen-verkehrsunfaelle/resource/40094bd6-f82d-4979-949b-26c8dc00b9a7

The above data provides historical information values on the number of accidents for different categories per month in the 
city of Munich, Germany. 
As the dataset contains several columns, but we will focus on the mentioned first five columns which are important to our mission, hence feature selection is not required here.

Five columns considered:

|Translated Column Name - >| Category    | Accident-type | Year | Month | Value |
|----------------------|-------------|---------------|------|-------|-------|
|Actual Column Name in Dataset ->  | MONATSZAHL  | AUSPRAEGUNG   | JAHR | MONAT | WERT  |

1. Category - (MONATSZAHL)
2. Accident-type - (insgesamt means total for all subcategories) (AUSPRAEGUNG)
3. Year - (JAHR)
4. Month - (MONAT)
5. Value - (WERT)

#### Category Types [ MONATSZAHL ]:
1. 'Alkoholunfälle' - Alcohol accidents
2. 'Fluchtunfälle' - Escape accidents
3. 'Verkehrsunfälle' - Traffic Accidents

#### Accident Types [ AUSPRAEGUNG ]:
1. 'insgesamt' - total
2. 'mit personenschäden' - personal injury
3. 'Verletzte und Getötete' - injured and killed

----

# Importing Libraries, Packages and Data

In [19]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [20]:
df = pd.read_csv("data/monatszahlen2209_verkehrsunfaelle.csv")
df

,MONATSZAHL,AUSPRÄGUNG,JAHR,MONAT,WERT,VORJAHRESWERT,VERÄND_VORMONAT_PROZENT,VERÄND_VORJAHRESMONAT_PROZENT,ZWÖLF_MONATE_MITTELWERT
0,Alkoholunfälle,insgesamt,2022,202201,NaN,16.0,NaN,NaN,NaN
1,Alkoholunfälle,insgesamt,2022,202202,NaN,14.0,NaN,NaN,NaN
2,Alkoholunfälle,insgesamt,2022,202203,NaN,24.0,NaN,NaN,NaN
3,Alkoholunfälle,insgesamt,2022,202204,NaN,16.0,NaN,NaN,NaN
4,Alkoholunfälle,insgesamt,2022,202205,NaN,24.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2081,Verkehrsunfälle,Verletzte und Getötete,2000,200008,647.0,NaN,-13.04,NaN,584.0
2082,Verkehrsunfälle,Verletzte und Getötete,2000,200009,675.0,NaN,4.33,NaN,594.0
2083,Verkehrsunfälle,Verletzte und Getötete,2000,200010,615.0,NaN,-8.89,NaN,596.0
2084,Verkehrsunfälle,Verletzte und Getötete,2000,200011,578.0,NaN,-6.02,NaN,594.0
2085,Verkehrsunfälle,Verletzte und Getötete,2000,200012,515.0,NaN,-10.90,NaN,588.0

# Exploratory Data Analysis

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2086 entries, 0 to 2085
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   MONATSZAHL                     2086 non-null   object
 1   AUSPRÄGUNG                     2086 non-null   object
 2   JAHR                           2086 non-null   int64
 3   MONAT                          2086 non-null   object
 4   WERT                           2002 non-null   float64
 5   VORJAHRESWERT                  1995 non-null   float64
 6   VERÄND_VORMONAT_PROZENT        1840 non-null   float64
 7   VERÄND_VORJAHRESMONAT_PROZENT  1910 non-null   float64
 8   ZWÖLF_MONATE_MITTELWERT        1848 non-null   float64
dtypes: float64(5), int64(1), object(3)
memory usage: 146.8+ KB

In [22]:
df.describe()

,JAHR,WERT,VORJAHRESWERT,VERÄND_VORMONAT_PROZENT,VERÄND_VORJAHRESMONAT_PROZENT,ZWÖLF_MONATE_MITTELWERT
count,2086.000000,2002.000000,1995.000000,1840.000000,1910.000000,1848.000000
mean,2010.963087,1434.433566,1409.676190,5.241538,1.669450,777.310065
std,6.615227,4634.494223,4564.043202,40.926314,30.197125,1164.856446
min,2000.000000,0.000000,0.000000,-100.000000,-100.000000,12.000000
25%,2005.000000,41.000000,41.000000,-15.540000,-12.500000,40.000000
50%,2011.000000,394.000000,394.000000,0.000000,-1.115000,421.000000
75%,2017.000000,863.250000,859.500000,18.712500,10.262500,814.250000
max,2022.000000,46988.000000,46988.000000,600.000000,425.000000,3977.000000

In [23]:
df['MONATSZAHL'].unique()

array(['Alkoholunfälle', 'Fluchtunfälle', 'Verkehrsunfälle'], dtype=object)

In [24]:
df['AUSPRÄGUNG'].unique()

array(['insgesamt', 'Verletzte und Getötete', 'mit Personenschäden'],
      dtype=object)

In [25]:
df['JAHR'].unique()

array([2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012,
       2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001,
       2000], dtype=int64)

In [26]:
df['MONAT'].unique()

array(['202201', '202202', '202203', '202204', '202205', '202206',
       '202207', '202208', '202209', '202210', '202211', '202212',
       'Summe', '202101', '202102', '202103', '202104', '202105',
       '202106', '202107', '202108', '202109', '202110', '202111',
       '202112', '202001', '202002', '202003', '202004', '202005',
       '202006', '202007', '202008', '202009', '202010', '202011',
       '202012', '201901', '201902', '201903', '201904', '201905',
       '201906', '201907', '201908', '201909', '201910', '201911',
       '201912', '201801', '201802', '201803', '201804', '201805',
       '201806', '201807', '201808', '201809', '201810', '201811',
       '201812', '201701', '201702', '201703', '201704', '201705',
       '201706', '201707', '201708', '201709', '201710', '201711',
       '201712', '201601', '201602', '201603', '201604', '201605',
       '201606', '201607', '201608', '201609', '201610', '201611',
       '201612', '201501', '201502', '201503', '201504', '201505',
       '201506', '201507', '201508', '201509', '201510', '201511',
       '201512', '201401', '201402', '201403', '201404', '201405',
       '201406', '201407', '201408', '201409', '201410', '201411',
       '201412', '201301', '201302', '201303', '201304', '201305',
       '201306', '201307', '201308', '201309', '201310', '201311',
       '201312', '201201', '201202', '201203', '201204', '201205',
       '201206', '201207', '201208', '201209', '201210', '201211',
       '201212', '201101', '201102', '201103', '201104', '201105',
       '201106', '201107', '201108', '201109', '201110', '201111',
       '201112', '201001', '201002', '201003', '201004', '201005',
       '201006', '201007', '201008', '201009', '201010', '201011',
       '201012', '200901', '200902', '200903', '200904', '200905',
       '200906', '200907', '200908', '200909', '200910', '200911',
       '200912', '200801', '200802', '200803', '200804', '200805',
       '200806', '200807', '200808', '200809', '200810', '200811',
       '200812', '200701', '200702', '200703', '200704', '200705',
       '200706', '200707', '200708', '200709', '200710', '200711',
       '200712', '200601', '200602', '200603', '200604', '200605',
       '200606', '200607', '200608', '200609', '200610', '200611',
       '200612', '200501', '200502', '200503', '200504', '200505',
       '200506', '200507', '200508', '200509', '200510', '200511',
       '200512', '200401', '200402', '200403', '200404', '200405',
       '200406', '200407', '200408', '200409', '200410', '200411',
       '200412', '200301', '200302', '200303', '200304', '200305',
       '200306', '200307', '200308', '200309', '200310', '200311',
       '200312', '200201', '200202', '200203', '200204', '200205',
       '200206', '200207', '200208', '200209', '200210', '200211',
       '200212', '200101', '200102', '200103', '200104', '200105',
       '200106', '200107', '200108', '200109', '200110', '200111',
       '200112', '200001', '200002', '200003', '200004', '200005',
       '200006', '200007', '200008', '200009', '200010', '200011',
       '200012'], dtype=object)

# Data Preprocessing

In [27]:
df = df[df['JAHR'] < 2021]

In [28]:
# removing rows where value is null
df['WERT'].isnull().sum()

0

In [29]:
df

,MONATSZAHL,AUSPRÄGUNG,JAHR,MONAT,WERT,VORJAHRESWERT,VERÄND_VORMONAT_PROZENT,VERÄND_VORJAHRESMONAT_PROZENT,ZWÖLF_MONATE_MITTELWERT
25,Alkoholunfälle,insgesamt,2020,Summe,430.0,434.0,NaN,-0.92,NaN
26,Alkoholunfälle,insgesamt,2020,202001,28.0,22.0,-20.00,27.27,37.0
27,Alkoholunfälle,insgesamt,2020,202002,40.0,28.0,42.86,42.86,38.0
28,Alkoholunfälle,insgesamt,2020,202003,27.0,34.0,-32.50,-20.59,37.0
29,Alkoholunfälle,insgesamt,2020,202004,26.0,36.0,-3.70,-27.78,36.0
...,...,...,...,...,...,...,...,...,...
2081,Verkehrsunfälle,Verletzte und Getötete,2000,200008,647.0,NaN,-13.04,NaN,584.0
2082,Verkehrsunfälle,Verletzte und Getötete,2000,200009,675.0,NaN,4.33,NaN,594.0
2083,Verkehrsunfälle,Verletzte und Getötete,2000,200010,615.0,NaN,-8.89,NaN,596.0
2084,Verkehrsunfälle,Verletzte und Getötete,2000,200011,578.0,NaN,-6.02,NaN,594.0
2085,Verkehrsunfälle,Verletzte und Getötete,2000,200012,515.0,NaN,-10.90,NaN,588.0

In [30]:
len(df[df['MONAT'] == 'Summe'])

147

In [31]:
# removing rows where total number of accidents are given as it is not required
df = df[df['MONAT'] != 'Summe']

In [32]:
df

,MONATSZAHL,AUSPRÄGUNG,JAHR,MONAT,WERT,VORJAHRESWERT,VERÄND_VORMONAT_PROZENT,VERÄND_VORJAHRESMONAT_PROZENT,ZWÖLF_MONATE_MITTELWERT
26,Alkoholunfälle,insgesamt,2020,202001,28.0,22.0,-20.00,27.27,37.0
27,Alkoholunfälle,insgesamt,2020,202002,40.0,28.0,42.86,42.86,38.0
28,Alkoholunfälle,insgesamt,2020,202003,27.0,34.0,-32.50,-20.59,37.0
29,Alkoholunfälle,insgesamt,2020,202004,26.0,36.0,-3.70,-27.78,36.0
30,Alkoholunfälle,insgesamt,2020,202005,40.0,39.0,53.85,2.56,36.0
...,...,...,...,...,...,...,...,...,...
2081,Verkehrsunfälle,Verletzte und Getötete,2000,200008,647.0,NaN,-13.04,NaN,584.0
2082,Verkehrsunfälle,Verletzte und Getötete,2000,200009,675.0,NaN,4.33,NaN,594.0
2083,Verkehrsunfälle,Verletzte und Getötete,2000,200010,615.0,NaN,-8.89,NaN,596.0
2084,Verkehrsunfälle,Verletzte und Getötete,2000,200011,578.0,NaN,-6.02,NaN,594.0
2085,Verkehrsunfälle,Verletzte und Getötete,2000,200012,515.0,NaN,-10.90,NaN,588.0

In [33]:
# year is present in JAHR column, but in MONAT column both year and month are present
# hence simplyfying it i.e keeping only month in MONAT column
df['MONAT'] = pd.to_numeric(df['MONAT'], errors='coerce')
df['MONAT'] = df['MONAT'] % 100
df

,MONATSZAHL,AUSPRÄGUNG,JAHR,MONAT,WERT,VORJAHRESWERT,VERÄND_VORMONAT_PROZENT,VERÄND_VORJAHRESMONAT_PROZENT,ZWÖLF_MONATE_MITTELWERT
26,Alkoholunfälle,insgesamt,2020,1,28.0,22.0,-20.00,27.27,37.0
27,Alkoholunfälle,insgesamt,2020,2,40.0,28.0,42.86,42.86,38.0
28,Alkoholunfälle,insgesamt,2020,3,27.0,34.0,-32.50,-20.59,37.0
29,Alkoholunfälle,insgesamt,2020,4,26.0,36.0,-3.70,-27.78,36.0
30,Alkoholunfälle,insgesamt,2020,5,40.0,39.0,53.85,2.56,36.0
...,...,...,...,...,...,...,...,...,...
2081,Verkehrsunfälle,Verletzte und Getötete,2000,8,647.0,NaN,-13.04,NaN,584.0
2082,Verkehrsunfälle,Verletzte und Getötete,2000,9,675.0,NaN,4.33,NaN,594.0
2083,Verkehrsunfälle,Verletzte und Getötete,2000,10,615.0,NaN,-8.89,NaN,596.0
2084,Verkehrsunfälle,Verletzte und Getötete,2000,11,578.0,NaN,-6.02,NaN,594.0
2085,Verkehrsunfälle,Verletzte und Getötete,2000,12,515.0,NaN,-10.90,NaN,588.0

In [34]:
# converting categorical variables into numerical dummy variables 
df['MONATSZAHL'].replace(['Alkoholunfälle','Fluchtunfälle', 'Verkehrsunfälle'],
                        [0, 1, 2], inplace=True)

In [35]:
df['AUSPRÄGUNG'].replace(['insgesamt','mit Personenschäden', 'Verletzte und Getötete'],
                        [0, 1, 2], inplace=True)

In [36]:
df

,MONATSZAHL,AUSPRÄGUNG,JAHR,MONAT,WERT,VORJAHRESWERT,VERÄND_VORMONAT_PROZENT,VERÄND_VORJAHRESMONAT_PROZENT,ZWÖLF_MONATE_MITTELWERT
26,0,0,2020,1,28.0,22.0,-20.00,27.27,37.0
27,0,0,2020,2,40.0,28.0,42.86,42.86,38.0
28,0,0,2020,3,27.0,34.0,-32.50,-20.59,37.0
29,0,0,2020,4,26.0,36.0,-3.70,-27.78,36.0
30,0,0,2020,5,40.0,39.0,53.85,2.56,36.0
...,...,...,...,...,...,...,...,...,...
2081,2,2,2000,8,647.0,NaN,-13.04,NaN,584.0
2082,2,2,2000,9,675.0,NaN,4.33,NaN,594.0
2083,2,2,2000,10,615.0,NaN,-8.89,NaN,596.0
2084,2,2,2000,11,578.0,NaN,-6.02,NaN,594.0
2085,2,2,2000,12,515.0,NaN,-10.90,NaN,588.0

In [37]:
df.to_csv('data/preprocessed_data.csv', index=False)

Now that the data is preprocessed, next step is Visualization